<!-- MAIN -->
<main id="account" class="bigTile">
  <div class="container bigTileConatiner">
    <div class="tile">
      <div class="leftSideMenu">
        <button class="btnOrange active">Moje dane</button>
        <button class="btnOrange">Zmień hasło</button>
        <button class="btnOrange" (click)="logOut()">Wyloguj</button>
      </div>
      <div class="rightSideWorkspace">
        <div class="login">
          <h2>Login:</h2>
          <h5>robert9620</h5>
        </div>
        <h3>Imię:</h3>
        <input type="text" placeholder="Robert" id="name">
        <h3>Nazwisko:</h3>
        <input type="text" placeholder="Trojan" id="surname">
        <button class="btnOrange" id="save">
          <i class="fas fa-save"></i>
        </button>
      </div>
    </div>
  </div>
</main>
