<!-- MAIN -->
<main id="registerPage">
  <div class="container registerPageContainer">
    <div class="tile registerTile">
      <h2>Rejestracja:</h2>
      <form>
        <input type="text" placeholder="Imię">
        <input type="text" placeholder="Nazwisko">
        <input type="text" placeholder="Login">
        <input type="password" placeholder="Hasło">
        <input type="password" placeholder="Powtórz hasło">
        <input type="submit" value="Zarejestruj się">
      </form>
      <p class="info">Jeżeli masz już konto<br> możesz przejść do <a routerLink="/logowanie">logowania</a>.</p>
    </div>
  </div>
</main>
