<!-- MAIN -->
<main id="indexPage">
  <div class="container indexPageContainer">
    <div class="tile ad">
      <h2>Fiszki pomogą w nauce:</h2>
      <p>Aplikacja do nauki słówek metodą fiszki powstała jako praca dyplomowa. Serwis umożliwia tworzenie własnych zestawów słówek z definicjami, a następnie naukę ich w bardzo przystępnej formie.</p>
    </div>
    <div class="tile login">
      <h5>Wracasz po więcej?</h5>
      <p>Jeżeli posiadasz konto w serwisie możesz się zalogować. Zapraszamy do nauki :)</p>
      <button class="btnOrange" routerLink="/logowanie">Zaloguj się</button>
    </div>
    <div class="tile register">
      <h5>Nie masz jeszcze konta?</h5>
      <p>Jeżeli jesteś nowym użytkownikiem, możesz stworzyć swoje konto. Na koncie zapisywane są postępy Twojej nauki.</p>
      <button class="btnOrange" routerLink="/rejestracja">Zarejestruj się</button>
    </div>
  </div>
</main>
