<!-- MENU -->
<nav class="navbar navbar-expand-md navbar-light" id="menu">
  <a class="navbar-brand" routerLink="/biurko">
    <div id="logoContainer">
      <img src="../../../../assets/img/logo.png" alt="logo witryny" id="logo">
    </div>
  </a>
  <button class="navbar-toggler" [ngClass]="{'collapsed': !navbarOpen}" (click)="toggleNavbar()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen}">
    <ul class="navbar-nav ml-auto" id="menuItems">
      <a routerLink="/biurko"><li routerLinkActive="active">
        Strona główna
      </li></a>
      <a routerLink="/jak-to-dziala"><li routerLinkActive="active">
        Jak to działa?
      </li></a>
      <a routerLink="/pouczymy-sie"><li routerLinkActive="active">
        Nauka
      </li></a>
      <a routerLink="/zestawy"><li routerLinkActive="active">
        Zestawy
      </li></a>
      <a routerLink="/moje-konto"><li routerLinkActive="active">
        Moje konto
      </li></a>
    </ul>
  </div>
</nav>
