<!-- MENU -->
<nav class="navbar navbar-expand-md navbar-light" id="menu">
  <a class="navbar-brand" routerLink="/biurko">
    <div id="logoContainer">
      <img src="../../../../assets/img/logo.png" alt="logo witryny" id="logo">
    </div>
  </a>
  <button class="navbar-toggler" [ngClass]="{'collapsed': !navbarOpen}" (click)="toggleNavbar()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen}">
    <ul class="navbar-nav ml-auto" id="menuItems">
      <li routerLinkActive="active">
        <a routerLink="/biurko">Strona główna</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/jak-to-dziala">Jak to działa?</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/pouczymy-sie">Nauka</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/zestawy">Zestawy</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/moje-konto">Moje konto</a>
      </li>
    </ul>
  </div>
</nav>
