<!-- MAIN -->
<main id="loginPage">
  <div class="container loginPageContainer">
    <div class="tile loginTile">
      <h2>Logowanie:</h2>
      <form>
        <input type="text" placeholder="Login" name="username" [(ngModel)]="username">
        <input type="password" placeholder="Hasło" name="password" [(ngModel)]="password">
        <input type="submit" value="Zaloguj się" (click)=checkLogin()>
      </form>
      <p class="info">Jeżeli nie masz jeszcze konta <a routerLink="/rejestracja">zarejestruj się</a>.</p>
    </div>
  </div>
</main>
