<!-- MAIN -->
<main id="loginPage">
  <div class="container loginPageContainer">
    <div class="tile loginTile">
      <h2>Logowanie:</h2>
      <form (ngSubmit)="loginFunction(formInfo)" #formInfo="ngForm">
        <input
          [class.borderRed]="!login.valid && login.dirty"
          [class.borderGreen]="login.valid && login.dirty"
          type="text" placeholder="Login" name="login" #login="ngModel" required [(ngModel)]="formDataClass.login">
        <input
          [class.borderRed]="!password.valid && password.dirty"
          [class.borderGreen]="password.valid && password.dirty"
          type="password" placeholder="Hasło" name="password" #password="ngModel" required [(ngModel)]="formDataClass.password">
        <input type="submit" value="Zaloguj się" [disabled]="!formInfo.valid">
      </form>
      <p class="infoRed">{{errorMessage}}</p>
      <p class="info">Jeżeli nie masz jeszcze konta <a routerLink="/rejestracja">zarejestruj się</a>.</p>
    </div>
  </div>
</main>
