<form (ngSubmit)="changePassword(formData)" #formData="ngForm">
  <h3>Obecne hasło:</h3>
  <input
    [class.borderRed]="!password.valid && password.dirty"
    [class.borderGreen]="password.valid && password.dirty"
    type="password" id="current" name="password" #password="ngModel" required [(ngModel)]="formDataClass.password">
  <h3>Nowe hasło:</h3>
  <input
    [class.borderRed]="!newPassword.valid && newPassword.dirty"
    [class.borderGreen]="newPassword.valid && newPassword.dirty"
    type="password" id="new" name="newPassword" #newPassword="ngModel" required [(ngModel)]="formDataClass.newPassword">
  <h3>Powtórz nowe hasło:</h3>
  <input
    [class.borderRed]="!newPasswordAgain.valid && newPasswordAgain.dirty"
    [class.borderGreen]="newPasswordAgain.valid && newPasswordAgain.dirty"
    type="password" id="newAgain" name="newPasswordAgain" #newPasswordAgain="ngModel" required [(ngModel)]="formDataClass.newPasswordAgain">
  <button class="btnOrange" id="save" type="submit" [disabled]="!formData.valid" title="Zatwierdź zmianę hasła">
    <i class="fas fa-save"></i>
  </button>
</form>
<p class="infoRed">{{errorMessage}}</p>
<p class="infoGreen">{{successMessage}}</p>
