<!-- MAIN -->
<main id="setsPage" class="bigTile">
  <div class="container bigTileConatiner">
    <div class="tile">
      <div class="leftSideMenu">
        <button class="btnOrange">Ulubione</button>
        <button class="btnOrange active">Moje zestawy</button>
        <button class="btnOrange">Dodaj zestaw</button>
        <button class="btnOrange">Wyszukaj zestaw</button>
      </div>
      <div class="rightSideWorkspace">
        <ng-container *ngFor="let set of sets">
          <div #oneSet class="setTile" id="{{set.id}}">
            <div class="setTitle">
              <h5>{{set.name}}</h5>
              <p>Słówek: 0</p>
            </div>
            <div class="setIcons">
              <i class="fas fa-graduation-cap" title="Ucz się"></i><br>
              <i class="far fa-heart" title="Dodaj do ulubionych"></i><br><!-- <i class="fas fa-heart"></i> -->
              <i class="fas fa-pencil-alt" title="Edytuj"></i><br>
              <i class="fas fa-trash-alt" title="Usuń" (click)="deleteSet(oneSet.id)"></i>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</main>
